@charset "utf-8";
*{margin: 0; padding: 0;}
a{text-decoration: none; display: block; color: inherit;}
li{list-style: none;}
.wrapper{
    width: 1000px;
    height: 650px;
    margin: 0 0;
    display: flex;
}
header{
    width: 200px;
    
}   
header > h1{
    height: 100px;
    
}
header img{
    margin-top: 30px;
}
nav > ul{
    width: 70%;
    margin: 20px auto;
    text-align: center;
    background-color: red;
}
.mainmenu > a{
    padding: 5px 0;
}
.mainmenu > a:hover{
    background-color: violet;
}
.mainmenu{
    border: 1px solid #222;
}
.mainmenu > .submenu{
    display: none;
}
main{
    width: 800px;
}
section.slide{
    
    height: 350px;
    background-color: aqua;
}
.slide > .slidewrap{
    position: relative;
    height: 100%;
}
.slide .slideitem{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.slide .slideitem p{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.slide img{
    width: 100%;
    height: 350px;
}
section.contents{
    display: flex;
    height: 200px;
}
.contents > article{
    width: 33.333333%;
}
.contents > article:first-child{
    background-color: #fff;
}
.contents > .tabs > .tabmenu > li{
    display: inline-block;
    padding: 5px 10px;
}
.tabon{
    background-color: tomato;
}
.notice{
    /* display: none; */
}
.gallary{
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; */
    text-align: center;
    display: none;
}
.gallary > li{
    display: inline-block;
    width: 30%;
    margin: 25px 0;
}
.gallary img{
    width: 100%;
}
.notice li{
    padding: 5px;
}
.notice span{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice span:nth-child(1){
    width: 60%;
    
}
.notice span:nth-child(2){
    text-align: right;
    width: 35%;
}
.gallary{
    /* display: none; */
}
.tabs{
    width: 266.666666px;
    
    background-color: brown;
}
.banner{
    width: 266.666666px;
    text-align: center;
    background-image: url(../images/banner.png);
}
.links{
    width: 266.666666px;
    text-align: center;
    background-image: url(../images/link.png);
}
footer{
    display: flex;
    height: 100px;
    
}
footer > .f-logo{
    width: 200px;
    height: 100px;
    background-image: url(../images/f-logo.png);
}
footer > .f-item{
    width: 600px;
    
}
.f-item >div{
    height: 50%;
    background-color: chartreuse;
}

