@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    color: #333;
}
header{
    width: 200px;
    height: calc(100vh - 100px);
}
.main-menu{
    padding: 5px 0;
}
.sub-menu{
    display: none;
    position: relative;
    left: 100px;
    top: -20px;
}
main{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}
.contents{
    height: calc(100vh - 100px);
}
.banner{
    height: 150px;
    width: 400px;
}
.notice{
    height: 40%;
    width: 400px;
}
.gallary{
    height: 40%;
    width: 400px;
}
.slide{
    width: calc(100vw - 600px);
    height: calc(100vh - 100px);
    overflow: hidden;
}
.slide-wrap{
    height: 300%;
}
.slide-wrap>a{
    width: 100%;
    height: calc(100vh - 100px);
    
}
.slide-item>img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
footer{
    height: calc(100vh - (100vh - 100px));
    width: 100vw;
}
.h-logo{
    background-image: url(./images/logo.png);
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}