@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
}
a{
    color: inherit;
}
body{
    width: 100vw;
    height: 100vh;
}
main{
    display: flex;
    width: 100vh;
}
.aside{
    width: 200px;
}
.main-menu li:hover .sub-menu a{
    color: #333;
}
.sub-menu a{
    /* color: #fff; */
    transition: 0.3s;
}
.main-menu{
    position: relative;
    top: 80px;
    width: 200px;
}
.content{
    flex: 1;
}
.main-menu>li{
    padding: 10px 0;
    width: 100%;
}
.main-menu>li{
    text-align: center;
}
.sub-menu{
    position: relative;
    top: -20px;
    left: 200px;
    width: 500px;
    display: none;
}
.sub-menu li{
    padding: 0 5px;
    display: inline-block;
}
.spot-menu{
    display: flex;
    position: relative;
    justify-content: space-around;
    font-size: 14px;
    width: 200px;
    top: 150px;
}
.spot-menu li{
    text-decoration: underline;
}
.spot-menu>li:nth-of-type(1){
    border-right: 1px solid ;
    padding-right: 14px;
    
}
.slide-wrapper{
    width: calc(100vw - 200px);
}
.slide>a>img{
    width: calc(100vw - 200px);
}
.container{
    height: 400px;
    width: calc(100vw - 200px);
    overflow: hidden;
}